// Fonts
@import url('https://fonts.googleapis.com/css?family=Open%20Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand>img {
   display: inline-block;
   height: 30px;
    margin-top: -6px
}
