// Fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Material Design Fonts
@import '~@mdi/font/scss/materialdesignicons';

// Import Yaijra Datatables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";

// Import simple mde
@import "~easymde/dist/easymde.min.css";


.navbar-brand>img {
   display: inline-block;
   height: 30px;
    margin-top: -6px
}

body {
    background: linear-gradient(to right, #005c97, #363795);
}

.footer {
  background: #CCEBFF;
}

.sidebar-sticky {
position:fixed;
max-width: 20%;
}

.no-text-decoration
{
text-decoration: none !important
}

.te-notification
{
  top: 1em;
  right: 1em;
  z-index: 1;
}

.not-clickable {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}
